<h1> Angular Frontend Welcome! </h1>

<h2> This be the Angular app  : Inside frontend/src/app/app.component.html  </h2>


<hr>



<a href="https://api.github.com/users/ariel1985/repos">Get All Repos</a>
<br>
<a href="https://api.github.com/repos/ariel1985/poc">Get Single Repo details</a>

<hr>

<h3> TO DO: </h3>

<ul>
  <li> Show list repositories </li>
  <app-repo-list></app-repo-list>
  
  <li> Show repository details </li>
  <app-repo-details></app-repo-details>
  
  <li> Search repositories </li>
  <app-repo-search></app-repo-search>
</ul>

<hr>

<router-outlet />
