# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
env/
venv/
.env

# FastAPI
*.db
instance/

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Angular
dist/
tmp/

# MongoDB
*.lock
*.log
*.pid
*.sock
data/
dump/

# Docker
*.env

# Visual Studio Code
.vscode/
*.code-workspace

# General
.DS_Store
Thumbs.db
*.log
